@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

:root{
  /* Colours */
  --chinese-violet-30: hsla(384, 14%, 46%, 0.3);
  --chinese-violet: rgb(131, 73, 35);
  --sonic-silver: hsl(208, 7%, 46%);
  --old-rose-30: hsla(357, 37%, 62%, 0.3);
  --ghost-white: hsl(233, 33%, 95%);
  --light-pink: hsl(357, 93%, 84%);
  --light-gray: hsl(0, 0%, 80%);
  --old-rose: hsl(357, 37%, 62%);
  --seashell: hsl(20, 43%, 93%);
  --charcoal: hsl(203, 38%, 26%);
  --white: hsl(0, 0%, 100%);

 

  /* Typography */
  --ff-philosopher: 'Philosopher', 'Segoe UI', sans-serif;
  --ff-poppins: 'Poppins', 'Segoe UI', sans-serif;
  --fs-1: 4rem; 
  --fs-2: 3.2rem; 
  --fs-3: 2.7rem; 
  --fs-4: 2.4rem; 
  --fs-5: 2.2rem; 
  --fs-6: 2rem; 
  --fs-7: 1.8rem;
  --fw-500: 500;
  --fw-700: 700;

  /* Padding */
  --section-padding: 80px;

  /* Box shadow */
  --shadow-1: 4px 6px 10px hsla(231, 94%, 7%, 0.06);
  --shadow-2: 2px 0 15px 5px hsla(231, 94%, 7%, 0.06);
  --shadow-3: 3px 3px var(--chinese-violet);
  --shadow-4: 3px 5px var(--chinese-violet);

  /* Border radius */
  --radius-5: 5px;
  --radius-10: 10px;

  /* Clip Path  */
  --polygon: polygon(100%, 29%, 100%, 100%, 19%, 99%, 0 56%);

  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

/*----------------*\
  CSS RESETS
\*----------------*/


*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{list-style: none; }

a, img, span, data, input, button, textarea, ion-icon{
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

img{ height: auto; };

input, button, textarea{
  background: none;
  border: none;
  font: inherit;
}

input, textarea {
  width:100% ;
}

button{
  cursor: pointer;
}

address{
  font-style: normal;
}

ion-icon{
  pointer-events: none;
}

html{ 
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 1.8;
  /* height: 400vh;  */
}

:focus-visible{
  outline-offset: 4px;
}

::selection{
  background-color: var(--old-rose);
  color: var(--white);
}

::-webkit-scrollbar{ width: 1.8rem };

::-webkit-scrollbar-track { background-color:  hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color:  hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color:  hsl(0, 0%, 70%); }




/*----------------*\
  UTILITY CLASSES
\*----------------*/


.container{ padding-inline: 15px; }

.section {
  padding-block: var(--section-padding);
  scroll-margin-top: 3.5rem;
}

.section:nth-child(odd) {background-color: var(--seashell);}

.section-subtitle{
  color: var(--old-rose);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  letter-spacing: 4px;
  text-align: center;
}
.h1, .h2, .h3, .tab-text{
  color: var(--charcoal);
  font-family: var(--ff-philosopher);
  line-height: 1.2;
}

.h1 {font-size: var(--fs-2);}

.h2 {font-size: var(--fs-3);}

.h3 {font-size: var(--fs-5);}

.section-text{ font-size: var(--fs-7);}

.w-100{ width: 100%; }

.has-before{
  position: relative;
  z-index: 1;
}

.has-before::before, .has-after::after{
  content: '';
  position: absolute;
}

.section-title {text-align: center}

.grid-list{ display: grid; gap: 25px;};

.btn-link{
  color: var(--old-rose);
  font-weight: var(--fw-500);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition-1);
}

.btn-link :is(:hover, :focus){ color: var(--chinese-violet)};

.has-underline{
  position: relative;
  margin-block-end: 70px;
}

.has-underline .span{
  height: 2px;
  background-color: var(--old-rose-30);
  width: 200px;
  margin-inline: auto;
  margin-block-start: 20px;
}

.has-underline .has-before::before{
  width: 10px;
  height: 10px;
  top: 2px;
  left: 45%;
  transform: translateY(-50%) rotate(45deg);
  background-color: var(--old-rose-30);
  box-shadow: 7px -7px var(--old-rose-30);
}

.btn{
  padding: 12px 30px;
  transition: var(--transition-1);
}

.btn-primary{
  background-color: var(--old-rose);
  color: var(--white);
  border: transparent;
  padding: 18px;
}

.btn-primary:is(:hover, :focus){ color: var(--ghost-white)};

.btn-secondary{
  border: 1px solid var(--old-rose);
  color: var(--old-rose);
}

.btn-secondary:is(:hover, :focus){
  background-color: var(--chinese-violet);
  color: var(--white);
}

.img-holder{
  aspect-ratio: var(--width)/ var(--height);
  background-color: var(--light-gray);
}

.img-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* .navbar{display: none;} */



/*----------------*\
  HEADER section
\*----------------*/

.header{
  background-color: var(--white);
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  padding-block: 12px;
  z-index: 4;
  transition: var(--transition-2);
}

.header.done{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  filter: drop-shadow(var(--shadow-1));
  /* transform: translateY(-100%); */
  transition: none;
  animation: slideIn 0.5s ease forwards;
  background-color: var(--white);
}

@keyframes slideIn{
  0% { transform: translateY(-100%); };
  100% { transform: translateY(0); };
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: var(--ff-poppins);
  font-size: 3rem;
  color: var(--charcoal);
  line-height: 2;
}



/*----------------*\
  NAVBAR section
\*----------------*/

.nav-toggle-btn{
  font-size: 40px;
  color: var(--charcoal);
}

/* .nav-toggle-btn ion-icon{ ionicon-stroke-width: 20px; }  */

.nav-toggle-btn.active .open, .nav-toggle-btn .close{ display: none; }

.nav-toggle-btn .open, .nav-toggle-btn.active .close{ display: block; }

.navbar{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-inline: 15px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: .25s var(--cubic-out);
}

.navbar.active{
  max-height: 320px;
  visibility: visible;
  transition-duration: .5s;
}

.navbar-list{ margin-block-end: 10px; }

.navbar-link{ 
  color: var(--charcoal);
  padding-block: 8px;
  line-height: 1.5;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus){ color: var(--old-rose) };


/*----------------*\
  Hero section
\*----------------*/


.hero{
  padding-block-start: calc(var(--section-padding)  + 60px);
  text-align: center;

}

.hero .container{ 
  display: grid;
  gap: 60px;
  padding-top: 4rem;
}


.hero .hero-title {
  margin-block: 10px 25px
};

.hero-banner{
  padding-inline-start: 30px;
  padding-block-end: 30px;
  width: 200px;
  height: 200px;
  margin-inline: auto;
}

.hero-banner .w-100{ border-radius: 10px 30px;}

.hero-banner::before{
  top: 60px;
  right: 60px;
  bottom: -20px;
  left: -10px;
  background-color: var(--light-pink);
  border-radius: var(--radius-10);
  z-index: -1;
}

/* .play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  color: var(--chinese-violet);
  font-size: 22px;
  padding: 24px;
  border-radius: 50%;
  transition: var(--transition);
  animation: pulse 3s ease infinite;
}

.play-btn:is(:hover, :focus) {color: var(--old-rose)}; */

/* @keyframes pulse{
  0%, 50%{
    box-shadow: 0 0 0 0 hsla(0, 0 , 100%, .5);
  }
  100%{ 
    box-shadow: 0 0 0 10px transparent;
  }
} */


/*----------------*\
  BENEFITS section
\*----------------*/


.benefits .section-text{
  text-align: center;
  margin-block: 8px 25px;
}

.benefits-card{
  padding: 25px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-5);
  overflow: hidden;
  transition: var(--transition);
}

.benefits-card::before, .benefits-card::after{
  bottom: 0;
  right: 0;
  clip-path: var(--polygon);
  transition: var(--transition-2);
}

.benefits-card::before{
  width: 80px;
  height: 80px;
  background-color: var(--old-rose-30);
  transform: translateY(60px);
}
.benefits-card::after{
  width: 70px;
  height: 70px;
  background-color: var(--chinese-violet-30);
  transform: translateY(65px);
  transition-delay: .1s;
}

.benefits-card:is(:hover, :focus-within) {transform: translateY(-10px)};

.benefits-card:is(:hover, :focus-within)::before, .benefits-card:is(:hover, :focus-within)::after {transform: translateY(0)};

.benefits-card:is(:hover, :focus-within)::after {transition-delay: .1s};

/* .benefits-card .card-icon{ 
  background-color: var(--old-rose);
  max-width: max-content;
  padding: 10px;
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
} */

/* .benefits-card:is(:hover, :focus) .card-icon {box-shadow: none;} */


.benefits-card .card-title { margin-block: 20px 15px; }

/* .benefits-card .btn-link {margin-block-start: 15px;} */



/*----------------*\
  CHAPTERS section
\*----------------*/


.chapters-card{
  height: 100%;
  background-color: var(--white);
  padding: 25px;
  border-radius: var(--radius-5);
  box-shadow: var(--box-shadow-2);
  transition: var(--transition-2);
  margin-block-start: 30px;
}

.chapters-card:is(:hover, :focus-within){transform: translateY(-10px);}

.chapters-card .card-title{margin-block-end: 15px;}



/*----------------*\
  PREVIEWS section
\*----------------*/

.tab-list{ 
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 25px;
}

.tab-card{
  position: relative;
  height: 60px;
  background-color: var(--seashell);
  border-radius: var(--radius-10);
  box-shadow: var(--box-shadow-3);
  display: grid;
  place-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transition-1);
}

.tab-card .w-100{
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-2);
}

.tab-card.active .w-100{opacity: 1}

.tab-card.active{
  height: 40vh;
  box-shadow: none;
}

.tab-text{
  font-size: var(--fs-4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.tab-card.active .tab-text{ display: none;}



/*----------------*\
  PRICING section
\*----------------*/

.pricing-card{
  padding: 40px 50px;
  background-color: var(--white);
  text-align: center;
  transition: var(--transition-2);
  margin-block-start: 30px;
}

.pricing-card .price{
  font-family: var(--ff-philosopher);
  font-size: var(--fs-1);
  color: var(--chinese-violet);
  font-weight: var(--fw-700);
  margin-block-start: 10px;
}

.pricing-card:is(:hover, :focus-within), .pricing-card.bundle{box-shadow: var(--shadow-4);}

.pricing-card:is(:hover, :focus-within){transform: translateY(-10px)};

.pricing-card-list { margin-block: 20px 40px; }

.pricing-card-list .card-item:not(:last-child){ border-block-end: 1px solid var(--ghost-white); }

.pricing-card .card-text{ padding-block: 10px; }

.pricing-card .btn{ margin-inline: auto; }



/*----------------*\
  AUTHOR section
\*----------------*/


.author { background-color: var(--seashell); }

.author .container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.author :is(.section-subtitle, .section-title){ text-align: left; }

.author-content{
  background-color: var(--white);
  padding: 30px;
}

.author-name{
  font-size: var(--fs-6);
  margin-block-end: 30px;
}

.author .section-text { font-size: unset; }


/*-----------------*\
  ACHIEVMENT section
\*-----------------*/

.section.achievment{ background-color: var(--white); }

#achievment ul{
  margin-block-start: 30px;
}

.achievment-card{
  background-color: var(--seashell);
  box-shadow: var(--shadow-4);
  overflow: hidden;
  transition: var(--transition-2);
}

.achievment-card:is(:hover, :focus-within) { transform: translateY(-10px) }

.achievment-card .card-content{
  position: relative;
  padding: 15px;
}

/* .achievment-card .card-content img{
  position: relative;
  top: 0;
  left: 145px;
  opacity: 0.3;
} */

.achievment-card .card-content img{
  position: relative;
  top: 0;
  left: 220px;
  opacity: 1;
}


/*----------------*\
  CONTACT section
\*----------------*/


.contact .wrapper{
  display: grid;
  gap: 25px;
  margin-block-start: 30px;
}

.contact-form{
  background-color: var(--seashell);
  padding: 20px;
}

.input-field{
  background-color: var(--white);
  padding: 10px;
  margin-block-end: 15px;
  outline: none;
  border: none;
  border-block: 2px solid transparent;
}

.input-field:focus{ border-color: var(--old-rose); }

textarea.input-field{
  resize: vertical;
  min-height: 120px;
  height: 120px;
  max-height: 200px;
  font-family: inherit;
}

.contact-form .btn { margin-inline: auto;} 

.contact-card{
  background-color: var(--seashell);
  padding: 10px;
}

.contact-card .card-title{
  font-family: var(--ff-philosopher);
  text-transform: uppercase;
  font-weight: var(--fw-700);
}

.contact-card > li:not(:last-child){ margin-block-end: 30px; }

.contact-card .card-link{
  color: var(--chinese-violet);
  transition: var(--transition-1);
}

.contact-card .card-link:is(:hover, :focus) { color: var(--old-rose); }

.social-list-title {
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  margin-block-end: 15px;
}

.social-list {
  display: flex;
  gap: 10px;
}
.social-link{
  background-color: var(--old-rose);
  color: var(--white);
  font-size: 20px;
  padding: 5px;
  box-shadow: var(--shadow-3);
  transition: var(--transition-2);
}

.social-link:is(:hover, :focus){
  background-color: var(--chinese-violet);
  box-shadow: none;
}



/*----------------*\
  FOOTER section
\*----------------*/


.footer{
  background-color: var(--seashell);
  text-align: center;
}

.footer-top{
  padding-block: 50px;
  border-block-end: 1px solid var(--chinese-violet-30);
}

.footer .logo { margin-block-end: 15px; }

.footer-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.footer-link{
  color: var(--charcoal);
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) { color: var(--old-rose)}

.footer-bottom {padding-block: 20px; }









/*-------------------*\
  MEDIA QUERY section
\*-------------------*/


/* 575 px */
@media (min-width: 575px) {

  /* Custom properties  */
  :root{
    /* Typography */
    --fs-2: 4.5rem;
    --fs-3: 3.5rem;
    --fs-5: 2.5rem;
  }

  /* Utility styles */
  .container, .header, .navbar{
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .section-text {--fs-7: 2rem;}

  /* Header */
  .header{ top: 30px; }

  .header.active{ max-width: unset; }

  .navbar{
    left: 50%;
    transform: translateX(-50%);
  }

  /* Preview  */
  .tab-card.active{ height: 55vh; }

  /* Author  */

   .author-content{ width: 100%; }


  /* Achievment  */
  .achievment-card{ display: flex; }

  .achievment-card > * { width: 50% };

  .achievment-card .card-content { padding-block: 30px; }

  .achievment-card .card-content img{
    position: relative;
    top: 0;
    left: 0;
    opacity: .8;
  }

  .achievment-card .card-title { margin-block-end: 20px; }

  

  /* Contact  */
  .social-list-title {--fs-6: 2.2rem;}

  .social-link{
    font-size: 25px;
    padding: 8px;
  }

}

/* 768 px */
@media (min-width: 768px){

   /* Custom properties  */
   :root{
    /* Typography */
    --fs-2: 4.8rem;
  }

  /* Utility styles */
  .container, .header, .navbar{ max-width: 720px; }

  .grid-list{ grid-template-columns: 1fr 1fr; }

  /* Hero */
  .hero {
    padding-block-start: calc(var(--section-padding) + 100px);
    text-align: left;
  }

  .hero .container{
    grid-template-columns: 1fr .8fr;
    align-items: center;
  }

  .hero .section-subtitle {text-align: left;}
 
  /* Benefits  */
  .benefits :is(.section-title, .section-text) { text-align: left; }

  .benefits-content {grid-column: 1/3;}

  /* Chapter */
  :is(.chapters, .pricing) .grid-list li:last-child { 
    grid-column: 1/3;
    max-width: calc(50% - 12.5px);
    width: 100%;
    margin-inline: auto;
   }

   /* Chapter */
   .tab-card.active{ height: 70vh; }

   /* Author */
 

   .author-content{
    margin-block-start: 40px;
    margin-inline-start: -5px;
    padding-block-end: 40px;
    width: 100%;
   }
   .author .h2{ --fs-3: 4.2rem; }

   /* Achievment */
  .achievment-card { flex-direction: column; }

  .achievment-card > * { width:100%; }

  /* Contact  */
  .contact .wrapper { grid-template-columns: 1fr 1fr; }


}

/* 992 px */
@media (min-width: 992px){

     /* Custom properties  */
     :root{
      /* Typography */
      --fs-2: 5.4rem;
      --fs-3: 4rem;
    }

    .hero .hero-content{ padding-bottom: 20.5rem; }

  
    /* Utility styles */
    .container, .header, .navbar{ max-width: 960px; }

    .grid-list { grid-template-columns: repeat(3, 1fr) }

    /* Header */
    .header .container { padding-inline: 20px 30px; }

    .nav-toggle-btn { display: none; }

    .navbar, .navbar.active { all: unset; }

    .navbar-list {
      margin-block-end: 0;
      display: flex;
      gap: 30px;
    }

    /* Benefit  */
    .benefits .grid-list{
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    }

    .benefits-content { max-width: 80%; }

    /* Chapter & Pricing */
    :is(.chapters, .pricing) .grid-list li:last-child{ all: unset; }

    /* Preview */
    .tab-list{
      flex-direction: row;
      gap: 20px;
    }

    .tab-text{
      text-orientation: upright;
      white-space: nowrap;
      writing-mode: vertical-lr;
    }

    /* .tab-card, .tab-card.active { max-height: unset; } */

    .tab-card{
      height: 70vh;
      max-width: 60px;
    }

    .tab-card.active{
      min-width: 500px;
      max-width: 650px;
    }

    /* Author */
    .author .container { 
      flex-direction: row;
      gap: 20px;
     }

     .author-content{
      margin-block-start: 40px;
      margin-inline-start: -5px;
      padding-block-end: 40px;
      width: 60%;
     }

     /* Achievment  */
     .achievment .grid-list { grid-template-columns: 1fr 1fr; }

     .achievment-card { flex-direction: row; }

     .achievment-card > * { width: 100%; }

     /* .achievment-card .card-content img{
      position: relative;
      top: 0;
      left: 120px;
      opacity: 0.3;
      width: 40px;
      height: auto;
    } */

     /* Contact */
     .contact .wrapper{ grid-template-columns: 1fr .5fr; }

     .contact-form { padding: 40px; }

}

/* 1200 px */
@media (min-width: 1200px){

    /* Custom properties  */
     :root{
      /* Typography */
      --fs-2: 6rem;
      --fs-3: 4.6rem;
      --fs-4: 3rem;
      --fs-5: 3rem;
      scroll-margin-top: 4rem;
    }
  
    /* Utility styles */
    .container, .header, .navbar { max-width: 1140px; }

    /* Preview */
    .tab-card { max-width: 75px; }

    .tab-card.active { max-width: 750px; }    

    /* Author */
    .author-content { padding: 85px 60px 115px; }


    /* Footer */
    .footer-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer .logo { margin-block-end: 0; }

}